
@font-face {
	font-family: "Mont";
	src: url("../fonts/Mont/Mont_regular.otf");
	font-weight: normal;
}
@font-face {
	font-family: "Mont";
	src: url("../fonts/Mont/Mont_Bold.otf");
	font-weight: 900;
}
@font-face {
	font-family: "Mont";
	src: url("../fonts/Mont/Mont_light.otf");
	font-weight: 300;
}