* {
	box-sizing:border-box;

}

body, h1, h2, h3, h4, p, a, ul{
	margin: 0;
	font-family: "Mont";
	color: #565656;
}
body {
	background-color: #f4f4f4;
}
a {
	text-decoration: none;
}
ul {
	list-style-type: none;
	padding: 0;
}

h1 {
	font-size: 90px;
}
 
h2 {
	font-size: 22px;
	font-weight: 200;
}

h1,h2, a{
	user-select: none;
}

.-animated {

}
h1.-from-above {
	transform: translateY(-100%);
		transition: 1s ease-out;
}

h2.-from-bottom {
	transform: translateY(100%);
		transition: 2s ease-out;

}
h1.-animated,
h2.-animated {
	transform: translateY(0);
}
.title, .subtitle {
	overflow: hidden;
}
.title {

}
.subtitle {
}